body {
    margin-left: .5em;
    margin-right: .5em;
    text-align: justify;
}

p {
    font-family: serif;
    text-align: justify;
    text-indent: 1em;
    margin-top: 0px;
    margin-bottom: 1em;
}

h1, h2 {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    margin-top: 2em;
    margin-bottom: 2em;
}

.dialogue-italic {
    font-style: italic;
}

.dialogue-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.small {
    font-size: 80%;
}

.break-word {
    word-break: break-word;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    margin: .375rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    white-space: normal;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    text-decoration: none;
}

.btn-report {
    background-color: transparent!important;
    color: #ff3547!important;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    padding: .5rem 1.6rem;
    font-size: .64rem;
    border: 2px solid #ff3547!important;
}
